@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>ASP.NET Core MVC (Sp and Idp) with Auth0 IDP</h2>
        @* <p>To follow along in building this sample please <a href="https://auth0.com/docs/quickstart/webapp/aspnet-core">refer to the Quickstart</a>. *@
    </div>
</div>
